<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>UIAppFonts</key>
	<array>
		<string>Lato-Black.ttf</string>
		<string>Lato-BoldItalic.ttf</string>
		<string>Lato-Light.ttf</string>
		<string>Lato-LightItalic.ttf</string>
		<string>Lato-Regular.ttf</string>
		<string>Lato-RegularItalic.ttf</string>
		<string>Lato-Thin.ttf</string>
		<string>Lato-ThinItalic.ttf</string>
		<string>Lato-BlackItalic.ttf</string>
		<string>Lato-Bold.ttf</string>
		<string>MarkOffcPro-Bold.ttf</string>
		<string>MarkOffcPro-BoldItalic.ttf</string>
		<string>MarkOffcPro-Light.ttf</string>
		<string>MarkOffcPro-LightItalic.ttf</string>
		<string>MarkOffcPro-CondHeavy.ttf</string>
		<string>MarkOT-Book.otf</string>
		<string>MarkOT-BookItalic.otf</string>
		<string>MarkOffcPro-Book.ttf</string>
		<string>MarkOffcPro-BookItalic.ttf</string>
		<string>MarkOffcPro-Heavy.ttf</string>
		<string>MarkOffcPro-HeavyItalic.ttf</string>
		<string>ss-standard.otf</string>
		<string>SSSocialCircle.otf</string>
		<string>SSSocialRegular.otf</string>
		<string>MarkWebW03-Book.ttf</string>
		<string>MarkWebW03-BookItalic.ttf</string>
		<string>MarkWebW03-Heavy.ttf</string>
		<string>MarkWebW03-HeavyItalic.ttf</string>
	</array>
</dict>
</plist>
